[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Christopher Aziz
	email = caziz@ucla.edu
[core]
	excludesfile = /Users/christopheraziz/.gitignore_global
	editor = subl -n -w

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = normal red
[color "status"]
  added = green
  changed = yellow
  untracked = red
[pretty]
	custom = format:'%C(bold yellow)%d\
	%C(reset)%C(cyan)%h %C(dim white)-\
	%C(reset)%s %C(dim blue)(%cr)\
	%C(dim white)<%an>%C(reset)' \
	--abbrev-commit --date=short
[alias]
	url = !open $(git config remote.origin.url)

	alias = !git config -l | grep alias | less
	ec = config --global -e

	co = checkout
	cob = checkout -b
	cp = cherry-pick
	br = branch
	bra = branch -a
	st = status -sb
	lg = log --oneline
	gr = log --graph --pretty=custom --abbrev-commit --date=short
	graph = !git gr --all

	ci = commit
	acm = !git add . && git commit -m
	cm = commit -m
	cam = commit -am
	amend = commit --amend
	cane = commit --ammend --no-edit

	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	
	patch = add -p
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~1
	precommit = diff --cached --diff-algorithm=minimal -w
	unmerged = !git diff --name-only --diff-filter=U | xargs git status -sb 
	nuke = !git reset --hard HEAD && git clean -df

	dlc = diff --cached HEAD^
	dno = diff --name-only
[push]
	default = tracking
[credential]
	helper = osxkeychain
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[merge]
	tool = opendiff
